@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.chat-bubble_header {
  display: flex;
  align-items: center;
}


.chat-bubble {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.chat-bubble.right {
  flex-direction: row-reverse;
}

.chat-bubble__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.chat-bubble.right .chat-bubble__avatar {
  margin-left: 10px;
}


.chat-bubble__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px 20px 20px 20px;
  padding: 0px 40px;
  background-color: #007aff;
  color: #ffffff;
  width: fit-content;
  max-width: calc(70% - 50px);
  word-wrap: break-word;
  position: relative;
  margin-bottom: 30px;
}

.chat-bubble.right .chat-bubble__content {
  border-radius: 20px 20px 0 20px;
  background-color: #e5e5ea;
  color: #000000;
}

.user-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #9b9b9b;
}

.user-message {
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 1.4;
}

.message-date {
  font-size: 12px;
  color: #b2b2b2;
  margin: 4px 0 0;
  padding-left: 4px;
  text-align: center;
}

.send-message {
  position: fixed;
  align-items: center;
  bottom: 0px;
  width: 45%;
  padding: 20px 30px;
  background-color: #4078C3;
  display: flex;
}

.send-message > input {
  height: 50%;
  padding: 10px 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  flex-grow: 1;
  background-color: white;
  color: #243447;
  font-size: 1rem;
}

.send-message > input::placeholder {
  color: #B2B2B2;
}

.send-message > :is(input, button):focus {
  outline: none;
  border-bottom: 1px solid #6CBFD7;
}

.send-message > button {
  width: 70px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  color: #243447;
  border: 1px solid #465a92;
  background-color: #A3C3F3;
  font-weight: 600;
}

@media (max-width: 768px) {
  .send-message {
    width: 20%;
    padding: 10px;
  }

  .chat-bubble__content {
    max-width: calc(70% - 50px);
  }
}
