.chat-bubble__left {
  max-width: 25%;
  max-height: 25%;
  object-fit: cover;
  border-radius: 50%;
}

.chat-bubble {
  border-radius: 20px 20px 20px 0;
  padding: 15px;
  background-color: #6CBFD7;
  color: #243447;
  width: max-content;
  max-width: calc(100% - 50px);
  box-shadow: -2px 2px 1px 1px #4c768d;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.chat-bubble.right {
  margin-left: auto;
  border-radius: 20px 20px 0 20px;
  background-color: #E9F1F6;
  box-shadow: -2px 2px 1px 1px #88dded;
}

.chat-bubble__left {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #243447;
}

.user-message {
  word-break: break-all;
}

.send-message {
  position: fixed;
  align-items: center;
  bottom: 0px;
  width: 65%;
  padding: 20px 30px;
  background-color: #4078C3;
  display: flex;
}

.send-message > input {
  height: 40px;
  padding: 10px 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  flex-grow: 1;
  background-color: white;
  color: #243447;
  font-size: 1rem;
}

.send-message > input::placeholder {
  color: #B2B2B2;
}

.send-message > :is(input, button):focus {
  outline: none;
  border-bottom: 1px solid #6CBFD7;
}

.send-message > button {
  width: 70px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  color: #243447;
  border: 1px solid #465a92;
  background-color: #A3C3F3;
  font-weight: 600;
}
